# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../leyou\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\IdeaProjects\leyou\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
